
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.col-md-4{
    padding: 30px;
}
.jumbotron{
    background: black!important;
    border-radius: 0px 0px 0px 0px!important;
    padding:40px;
    color: blanchedalmond;
    font-weight: 600px;
}
.img{
    height: 170px;
}

.title{
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    margin-bottom: 0;
}

.jumbotitle{
    font-family: 'Rampart One', cursive;
}

.contes{
    border: none!important;
    background: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}